*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.launch-btn{
    background-color: #FEC1C1;
    color: #000000;
}
.launch-btn:hover{
    background-color: rgb(116, 116, 121);
    color: #ffffff;
}

.modal-header{
    background-image:linear-gradient(120deg,#FEC1C1,rgb(255, 255, 255)) ;
    /* font-size: 10px; */
}
.header-sub-title{
    font-size: 14px;
}

.header-logo img{
    width: 30px;
    height: 30px;
}
.header-right  button{
    background-color: white;
    border: .5px solid #f8eded;
    border-radius: 5px;
    padding: .5rem;
    font-size: 14px;
    
}

.form-icons{
    color: #FEC1C1;
    float: right;
    
}
input {
    width: 100%;
    border: none;
    background: #FFF6EF;
    outline: none;
    border-radius: 2px;
    box-shadow: rgb(182, 178, 178) 0px 1px 2px;
  }
.admission-journey {
    background-color: #F8F8F8;
    border-radius: .5rem .5rem;
    width: 100%;
}
  .admission-journey .heading{
    font-size: 1.5rem;
    font-weight: 100;
  }
  .admission-journey .elapsed_time{
    display: flex;
    font-size:small;
  }
  .admission-journey .journey-btn{
    background-color: white;
    border: .5px solid #f8eded;
    color: red;
    border-radius: 5px;
    padding: .5rem;
    font-size: 14px;
  }

.container-timeline .qualification_line{
    display: block;
    width: .5px;
    height: 560%;
    background-color: rgb(183, 181, 181);
    transform: translate(6px, -7px) ;
    position: absolute;
    left: 60px;
}
.container-timeline {
    padding: 0.5rem 3.1rem;
    position: relative;
    top: 5%;

}

  
.container-timeline i {
    color: #88A1C7;
}

.journey .journey-heading{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}
.journey span{
    font-size: .8rem !important;
    font-weight: 100;
}
.journey-timeline {
    position: relative;
}

.container-timeline .text-box {
   position: relative;
   left: 4rem;
  }
  

.container-timeline .fa-check{
  position: absolute;
  width: 35px;
  top: 25px;
  z-index: 100;
  border-radius: 50%;
  background-color: #3ab748;
  color: #ffffff;
  padding: 12px 9px;
  text-align: center;
}
.doctor-name{
    position: absolute;
    top: 80%;
    font-size: .9rem;
}
.container-timeline .fa-bed-pulse, .fa-bed{
  position: absolute;
  width: 35px;
  top: 25px;
  z-index: 100;
  border-radius: 50%;
  background-color: #ffffff;
  color: #88A1C7;
  padding: 12px 9px;
  text-align: center;
  border: 1px solid rgb(179, 157, 157);
}
.container-timeline .text-box .admitted, .accepted {
    margin-top: 1rem;
    font-size: 2rem;
}



@media screen and (max-width: 480px) {
    .container-timeline .qualification_line{
        height: 610%;
        top: 45%;
    }
    .admission-journey .heading{
        font-size: 1rem;
        font-weight: 100;
      }
      .admission-journey .elapsed_time{
        display: flex;
        font-size:15px;
      }
      .admission-journey .journey-btn{
        font-size: 10px;
      }
      input{
        font-size: .8rem;
      }
      .doctor-name{
        position: absolute;
        top: 90%;
        font-size: .9rem;
    }
    .journey .journey-heading{
        font-size: .9rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .container-timeline .qualification_line{
        height: 710%;
        top: 45%;
    }
    .doctor-name{
        position: absolute;
        top: 95%;
        font-size: .9rem;
    }

} 
@media screen and (max-width: 400px) {
    .container-timeline .qualification_line{
        height: 590%;
        top: 45%;
    }
}